*.suo
TestResult.xml
TestResults/*
**/TestResults/*
bin/*
*/bin/*
**/bin/*
obj/*
*/obj/*
**/obj/*
*.user
~$*
bower_components
.gitattributes
**/temp.*
*.bak
**/*.playlist
packages/*
.vs/
temp.*
*.log
**/*.feature.cs
